In [1]:
print("hola")

hola

In [2]:
print("prueba 2")

prueba 2

In [3]:
# Ctrol + KU y Ctrol + KC comentarios
name = "Cristian Alejandro"

print(name * 2)
print(name.upper())
print(name.lower())

Cristian AlejandroCristian Alejandro
CRISTIAN ALEJANDRO
cristian alejandro

In [4]:
valor = 3.14159
print("Valor: {:.2f}".format(valor))

Valor: 3.14

In [5]:
frase = "Nunca pares de aprender"
author = "Platzi"
print("Frase: {}, Autor: {}".format(frase, author))

Frase: Nunca pares de aprender, Autor: Platzi

In [6]:
print('Hola soy \'Carli\'')

Hola soy 'Carli'

In [7]:
print("Hola\nmundo")

Hola
mundo

In [8]:
print("La ruta de archivo es: C:\\Users\\Usuario\\Desktop\\archivo.txt")

La ruta de archivo es: C:\Users\Usuario\Desktop\archivo.txt

In [9]:
#Operadores numéricos
a = 10
b = 10
print("Suma:", a + b)
print("Resta:", a - b)
print("Multiplicación:", a * b)
print("Potenciación:", a ** b)
print("División:", a / b)
print("Parte entera de la división:", a // b)
print("Módulo:", a % b)
a /= 2
print(a)
operation_1  = 2 + 3 * 4
operation_2  = (2 + 3) * 4
print(operation_1)
print(operation_2)
operation_3 = (2+3) * (4**2)/ 8 - 1
print(operation_3)

Suma: 20
Resta: 0
Multiplicación: 100
Potenciación: 10000000000
División: 1.0
Parte entera de la división: 1
Módulo: 0
5.0
14
20
9.0

In [10]:
a = 10
b = 3
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [24]:
#clase nro 10

to_do = ["diriginos al hotel","Ir a almorzar","Visitar un museo","volver al hotel","Estudiar",1 , 2, 3 ,3 ,4]

print(to_do)

print(type(to_do))

['diriginos al hotel', 'Ir a almorzar', 'Visitar un museo', 'volver al hotel', 'Estudiar', 1, 2, 3, 3, 4]
<class 'list'>

In [18]:
string = "Cristian Agudelo"

print(string[0]) #imprimimos el primer elemento
print(string[-1]) #imprimimos el ultimo elemento elemento
print(string[0:2]) #imprimimos desde el primero hasta el 2, no toma el tercero "2"

C
o
Cr

In [23]:
to_do.append(string) #agregar a la lista
print(to_do)


to_do.append(["a","b"]) # para agregar necesitamos []
print(to_do)

to_do.insert(1,string)
print(to_do)

['diriginos al hotel', 'Cristian Agudelo', 'Ir a almorzar', 'Visitar un museo', 'volver al hotel', 'Estudiar', 1, 2, 3, 3, 4, 'Cristian Agudelo', 'Cristian Agudelo', 'Cristian Agudelo', ['a', 'b'], 'Cristian Agudelo', ['a', 'b'], 'Cristian Agudelo']
['diriginos al hotel', 'Cristian Agudelo', 'Ir a almorzar', 'Visitar un museo', 'volver al hotel', 'Estudiar', 1, 2, 3, 3, 4, 'Cristian Agudelo', 'Cristian Agudelo', 'Cristian Agudelo', ['a', 'b'], 'Cristian Agudelo', ['a', 'b'], 'Cristian Agudelo', ['a', 'b']]
['diriginos al hotel', 'Cristian Agudelo', 'Cristian Agudelo', 'Ir a almorzar', 'Visitar un museo', 'volver al hotel', 'Estudiar', 1, 2, 3, 3, 4, 'Cristian Agudelo', 'Cristian Agudelo', 'Cristian Agudelo', ['a', 'b'], 'Cristian Agudelo', ['a', 'b'], 'Cristian Agudelo', ['a', 'b']]

In [31]:
numeros = [1,2,50,35,65]

print("mayor: ",max(numeros))#mayor
print("menor: ",min(numeros))#menor

mayor:  65
menor:  1

In [30]:
del numeros[-1] # eliminamos el ultimo elemento
print(numeros)

[1, 2, 50, 35]

In [34]:
a = numeros

print(a)
print(numeros)

del numeros[-1]

print(id(a))
print(id(numeros))

[1, 2, 50, 35, 65]
[1, 2, 50, 35, 65]
2759015283136
2759015283136

In [36]:
print(a)
print(numeros)

c= a[:] #copiar sin que se ala misma espacio de memoria

del numeros[-1]

print(a)
print(c)
print(numeros)



print(id(a))
print(id(c))
print(id(numeros))

[1, 2, 50]
[1, 2, 50]
[1, 2]
[1, 2, 50]
[1, 2]
2759015283136
2759009822528
2759015283136

In [37]:
matriz = [[1,2,3],
          [4,5,6],
          [7,8,9]]

In [43]:
print(matriz[2][1])

8

In [ ]:
#tuplas no se le spueden hacer modificiaciones, son inmutables. se pueden usar con parentesis o sin parentesis.

In [45]:
#diccionarios  tiene clave : Valor 
# Configuración de una aplicación
config = {
    "host": "localhost",
    "port": 8080,
    "debug": True
}
print("Configuración:", config)

# Contador de palabras
palabras = ["manzana", "banana", "naranja", "manzana", "banana","manzana", "banana", "naranja", "manzana", "banana"]
contador = {}
for palabra in palabras:
    if palabra in contador:
        contador[palabra] += 1
    else:
        contador[palabra] = 1
print("Contador de palabras:", contador)

# Mapeo de usuarios a datos
usuarios = {
    "user123": {"nombre": "Juan", "edad": 30},
    "user456": {"nombre": "Ana", "edad": 25}
}
print("Datos de usuario user123:", usuarios["user123"])

# Almacenamiento de datos estructurados
libro = {
    "título": "Cien años de soledad",
    "autor": "Gabriel García Márquez",
    "año": 1967
}
print("Datos del libro:", libro)

# Datos en formato JSON
import json
json_data = json.dumps(libro)
print("Datos en JSON:", json_data)

Configuración: {'host': 'localhost', 'port': 8080, 'debug': True}
Contador de palabras: {'manzana': 4, 'banana': 4, 'naranja': 2}
Datos de usuario user123: {'nombre': 'Juan', 'edad': 30}
Datos del libro: {'título': 'Cien años de soledad', 'autor': 'Gabriel García Márquez', 'año': 1967}
Datos en JSON: {"t\u00edtulo": "Cien a\u00f1os de soledad", "autor": "Gabriel Garc\u00eda M\u00e1rquez", "a\u00f1o": 1967}

In [52]:
config = {
    "host": "localhost",
    "port": 8080,
    "debug": True
}
print("Configuración:", config)

claves = config.keys()#mostramos las claves
print(claves)

claves = config.values()#mostramos los valores 
print(claves)

claves = config.items() #mostarmos todo ambos valores
print(claves)

Configuración: {'host': 'localhost', 'port': 8080, 'debug': True}
dict_keys(['host', 'port', 'debug'])
dict_values(['localhost', 8080, True])
dict_items([('host', 'localhost'), ('port', 8080), ('debug', True)])

In [53]:
numbers = {1:"uno", 2:"dos", 3:"tres"}
print(numbers[2])
information = {"nombre": "Carla",
               "Apellido": "Florida",
               "Altura": 1.60,
               "Edad": 29}
print(information)
del information["Edad"]
print(information)
claves = information.keys()
print(claves)
#print(type(claves))
values = information.values()
print(values)
pairs = information.items()
print(pairs)
contacts = {"Carla": {"Apellido": "Florida",
               "Altura": 1.60,
               "Edad": 29},
                "Diego": {"Apellido": "Antezana",
               "Altura": 1.80,
               "Edad": 32}}
print(contacts["Carla"])

dos
{'nombre': 'Carla', 'Apellido': 'Florida', 'Altura': 1.6, 'Edad': 29}
{'nombre': 'Carla', 'Apellido': 'Florida', 'Altura': 1.6}
dict_keys(['nombre', 'Apellido', 'Altura'])
dict_values(['Carla', 'Florida', 1.6])
dict_items([('nombre', 'Carla'), ('Apellido', 'Florida'), ('Altura', 1.6)])
{'Apellido': 'Florida', 'Altura': 1.6, 'Edad': 29}

In [54]:
#comprension list 
#se pueden crear usando solo una linea de codigo

squares =[x**2 for x in range(1,11)] #series, operaciones mas complejas a cada uno de los elementos que se van a operar

print("los cuadrados son: ",squares)

los cuadrados son:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
celsius = [x+5 for x in range(1,5)]

farenheit =[(temp * 9/5)*32 for temp in celsius] #temp es el nombre del elemente, y celcius es la lista
print("Temperatura en grados Farenheit", farenheit)

Temperatura en grados Farenheit [345.6, 403.2, 460.8, 518.4]

In [57]:
#numeros pares
evens = [x for x in range(1,35) if  x%2==0]# si x tiene el modulo 0 se va a añadir a la lista

print("pares", evens)

pares [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

In [59]:
#transpuesta

transposed = [[row[i]for row in matriz] for i in range(len(matriz[0]))]

print(matriz)
print(transposed)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]